*{
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.food{
    border: 1px solid skyblue;
    padding: 10px;
    border-radius: 10px;
}
/* set img size 100% the grid width */
.food img{
    width: 100%;
}